main {
    display: flex;
    min-height: 100vh;
    width: 100%;
}

#messages {
    height: 80vh;
    flex-direction: column;
    justify-content: center;
    display: flex;
    overflow: auto;
    margin: 3px;
}

#user-info, #message-form {
    box-shadow: 0 0 5px 5px var(--color-background);
    flex-direction: row;
    justify-content: space-between;
    max-height: 150px;
    flex-grow: 0.1;
}

#users-list {
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    margin: 20px;
    max-width: 500px;
    overflow: auto;
    background: var(--color-background);
    box-shadow: 0 0 10px 10px var(--color-background);
    display: flex;
}

#messages-container, #users-list-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#users-list-container {
    flex-shrink: 0;
}

#messages-container {
    width: 70%;
}

#messages-container-header {
    flex-shrink: 0;
    display: flex;
    align-content: center;
    vertical-align: center;
    background-color: var(--color-background);
    box-shadow: 0 0 10px 10px var(--color-background);
}

#message-text {
    padding: 10px;
    font-size: var(--font-medium);
    flex-grow: 1;
    text-align: justify;
}

#send-message {
    background-color: transparent;
    border: none;
}

.chat-title {
    font-size: var(--font-large);
    text-transform: uppercase;
    padding: 5px 20px;
    color: var(--inactive-text-color);
}

.message {
    background-color: var(--color-background);
    box-shadow: 0 0 10px 10px var(--color-background);
    margin: 20px;
    padding: 20px;
    width: fit-content;
    text-align: justify;
    max-width: 600px;
}

.message-container {
    width: 100%;
    display: flex;
}

.right {
    justify-content: flex-end;
}


.spoiler-button {
    background-color: transparent;
    border: none;
    display: block;
}

.spoiler {
    overflow: hidden;
    display: inline-block;
}

.spoiler-button[value='chevron_right']+.spoiler>span {
    visibility: hidden;
}

.spoiler-button[value='chevron_left']+.spoiler>span {
    visibility: initial;
}

.remove {
    color: red;
}

@media screen and (max-aspect-ratio: 16/9) and (max-width: 1024px) {
    body {
        background-size: auto;
    }

    #users-list {
        flex-grow: 1;
        width: 100%;
        max-width: initial;
    }

    #messages-container {
        display: none;
    }
}
